:root{
    --first-color-alt: #306AD9;
    --first-color: #4177DC;
    --first-color-primary: #608CE2;
    --color-whiteblue:#93B1EB;
    --text-color: #BABEC4;
    --text-color-light: #888B91;
    --body-color:#0A0A0B;
    --main-font:'Exo', sans-serif;
    --desktop-h1: 36px;
    --mobile-h1: 24px;
    --text-small:14px;

}




